@*@model IEnumerable<VenteExtension.Models.Client>*@
@model PagedList.IPagedList<VenteExtension.Models.Client>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Client";
}

<h2>Clients</h2>

@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Client", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">

    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.nomCl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenomCl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>*@
        <th>
            @Html.ActionLink("nomCl", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomCl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenomCl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.clientID }) |
                @Html.ActionLink("Details", "Details", new { id = item.clientID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.clientID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
