@*@model VenteExtension.Models.LignePanier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LignePanier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProduit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProduit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
